/* waybar style.css */

@import 'colors.css';

* {
	border: none;
	border-radius: 0;
	font-family: JetBrainsMono;
	font-size: large;
	color: @fgcolor;
}

window#waybar {
	background: transparent;
}

#workspaces button.focused {
	background: @bgcolor;
}

#workspaces button:hover {
	background: @hover;
	transition: none;
	box-shadow: inherit;
	text-shadow: inherit;
}

#custom-cap-left, #custom-cap-right {
	color: @bgcolor;
	font-size: 24px;
}

#idle_inhibitor {
	background: @bgcolor;
	padding-left: 20px;
	padding-right: 10px;
}

#custom-offswitch {
	background: @bgcolor;
	padding-right: 20px;
	padding-left: 10px;
}

#custom-weather,
#cpu, 
#temperature, 
#memory, 
#pulseaudio, 
#disk,
#battery, 
#clock, 
#network {
	background: @bgcolor;
	padding-left: 10px;
	padding-right: 10px;
}

#disk.critical {
		color: @critical;
}

#temperature.critical {                                                           
		color: @critical;                                                    
}

#cpu.critical {                                                           
		color: @critical;                                                    
}

#memory.critical {                                                           
		color: @critical;                                                    
}

@keyframes blink1 {                                                                
	to {
		color: @charging;
	}
}

#battery.charging {
  background-color: @bgcolor;
		animation-name: blink1;                                                          
		animation-duration: 1.0s;                                                       
		animation-timing-function: ease-in-out;                                              
		animation-iteration-count: infinite;                                            
		animation-direction: alternate;
}

@keyframes blink2 {
	to {
		color: @warning;
	}
}

#battery.warning:not(.charging) {
  background-color: @bgcolor;
  	animation-name: blink2;
  	animation-duration: 1.0s;
  	animation-timing-function: ease-in-out;
  	animation-iteration-count: infinite;
  	animation-direction: alternate;
}

@keyframes blink3 {
	to {
		color: @critical;
	}
}

#battery.critical:not(.charging) {
  background-color: @bgcolor;
  	animation-name: blink3;
  	animation-duration: 0.4s;
  	animation-timing-function: ease-in-out;
  	animation-iteration-count: infinite;
  	animation-direction: alternate;
}
